<style>
    .tftable {
        font-size: 12px;
        color: #333333;
        width: 100%;
        border-width: 1px;
        border-color: #729ea5;
        border-collapse: collapse;
    }

    .tftable th {
        font-size: 12px;
        background-color: #acc8cc;
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #729ea5;
        text-align: left;
    }

    .tftable tr {
        background-color: #ffffff;
    }

    .tftable td {
        font-size: 12px;
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #729ea5;
    }

    .tftable tr:hover {
        background-color: #acc8cc;
    }
</style>
<div class='w3-container w3-content w3-center w3-padding-64' style='max-width:800px' id='band'>
    <table class="tftable" border="1">
        <tr>
            <th>Escritor</th>
            <th>Titulo</th>
            <th>Producto</th>
            <th>Acciones</th>
        </tr>
        {{#articulosPendientes}}
            <tr>
                <td>{{escritor}}</td>
                <td>{{titulo}}</td>
                <td>{{nombre}}</td>
                <td>
                    <form method="post" action="/articulo/eliminar">
                        <input id="escritor" name="escritor" type="hidden" value="{{escritor}}">
                        <input id="titulo" name="titulo" type="hidden" value="{{titulo}}">
                        <button type="submit" class="btn-secondary">Eliminar</button>
                    </form>
                    <form method="post" action="/articulo/publicar">
                        <input id="escritor" name="escritor" type="hidden" value="{{escritor}}">
                        <input id="titulo" name="titulo" type="hidden" value="{{titulo}}">
                        <button type="submit" class="btn-secondary">Publicar</button>
                    </form>
                    <form method="post" action="/articulo/correcion">
                        <input id="escritor" name="escritor" type="hidden" value="{{escritor}}">
                        <input id="titulo" name="titulo" type="hidden" value="{{titulo}}">
                        <button type="submit" class="btn-secondary">Correcion</button>
                    </form>
                </td>
            </tr>
        {{/articulosPendientes}}
    </table>
</div>


