{{^articulo}}





    <div class='w3-container w3-content w3-center w3-padding-64' style='max-width:800px' id='band'>
        <h2 class="fw-bold text-center py-5">Crear Nota</h2>





        <div class="container border border-3">
        <form method="post" action="/articulo/crear" enctype="multipart/form-data">
            <div class="mb-4">
                <label for="titulo" class="form-label pt-4"><h4>Titulo</h4></label>
                <input type="text" class="form-control" name="titulo" required>
            </div>
            <div class="mb-4">
                <label for="subtitulo" class="form-label pt-2"><h4>Subtitulo</h4></label>
                <input type="text" class="form-control" name="subtitulo" required>
            </div>
            <div class="mb-4">
                <label for="fecha"class="form-label pt-2"><h4>Productos a publicar</h4></label>
                <select class="form-control" name="producto" id="producto" required>
                    {{#productos}}
                        <option value={{id}}>{{nombre}}</option>
                    {{/productos}}
                </select>
            </div>
            <div class="mb-4">
                <label for="fecha" class="form-label pt-2"><h4>Seccion</h4></label>
                <select class="form-control" name="seccion" id="seccion" required>
                    {{#secciones}}
                        <option value={{id}}>{{nombre}}</option>
                    {{/secciones}}
                </select>
            </div>
            <div class="mb-4">
                <label for="edicion" class="form-label pt-2"><h4>Edicion noticia</h4></label>
                <input type="date" class="form-control" name="edicion" required>
            </div>
            <div class="mb-4">
                <label for="cuerpo" class="form-label pt-2"><h4>Cuerpo de la noticia</h4></label>
                <textarea name="cuerpo" class="form-control" placeholder="Cuerpo" required></textarea>
            </div>
            <div class="mb-4">
                <label for="imagen"class="form-label pt-2"><h4>Imagen</h4></label>
                <input type="file" class="form-control" name="imagen" required>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn-success">Crear Nota</button>
            </div>
            <br>
        </form>
    </div>
    </div>
    <div class="col-12" style="display: flex; justify-content: center;">
    <form method="post" action="/articulo/paraeditar" style="padding: 5px;">
        <input id="escritor" name="escritor" type="hidden" value="{{0.mail}}">
        <button type="submit" class="btn-secondary">Ver notas pendientes de edicion</button>
    </form>
    <form method="post" action="/articulo/misarticulos" style="padding: 5px;">
        <input id="escritor" name="escritor" type="hidden" value="{{0.mail}}">
        <button type="submit" class="btn-secondary">Ver mis notas</button>
    </form>
    </div>
{{/articulo}}
{{#articulo}}

    <div class='w3-container w3-content w3-center w3-padding-64' style='max-width:800px' id='band'>
        <h2 class="fw-bold text-center py-5">Editar Nota</h2>
        <form method="post" action="/articulo/crear" enctype="multipart/form-data">
            <div class="mb-4">
                <label for="titulo" class="form-label">Titulo</label>
                <input type="text" placeholder="{{titulo}}" class="form-control" name="titulo">
            </div>
            <div class="mb-4">
                <label for="subtitulo" class="form-label">SubTitulo</label>
                <input type="text" placeholder="{{subtitulo}}" class="form-control" name="subtitulo">
            </div>
            <div class="mb-4">
                <label for="cuerpo" class="form-label">Cuerpo de la noticia</label>
                <textarea name="cuerpo" placeholder="{{cuerpo}}"class="form-control" placeholder="Cuerpo"></textarea>
            </div>
            <div class="mb-4">
                <label for="imagen" class="form-label">Imagen</label>
                <input type="file" class="form-control" name="imagen">
            </div>
            <input id="id" name="id" type="hidden" value="{{id}}">
            <div class="d-grid">
                <button type="submit" class="btn-secondary">Editar Nota</button>
            </div>

        </form>
    </div>
{{/articulo}}

