<style>
    .card {
        transition: transform .2s;
    }

    .card:hover {
        transform: scale(1.03)
    }

    section {
        margin-top: 2rem;
    }
</style>
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-3">Productos</h3>
            </div>
            <div class="col-12">
                <div class="row">
                    {{#productos}}
                        <div class="col-md-4 mb-3">
                            <div class="card">
                                <a href="/ediciones?producto={{id}}" style="color: black; text-decoration: none" >
                                <img class="img-fluid" alt="100%x280" src="{{logo}}">
                                <div class="card-body">
                                    <h4 class="card-title">{{nombre}}</h4>
                                    <p class="card-text">{{descripcion}}</p>
                                </div>
                                </a>
                                <form method="post" action="/comprar/suscripcion">
                                    <input id="producto" name="producto" type="hidden" value="{{id}}">
                                    <button type="submit" class="col-12">Suscribirse</button>
                                </form>
                            </div>
                        </div>
                    {{/productos}}
                </div>
            </div>
        </div>
    </div>
</section>



