<style>
    .tftable {
        font-size: 12px;
        color: #333333;
        width: 100%;
        border-width: 1px;
        border-color: #729ea5;
        border-collapse: collapse;
    }

    .tftable th {
        font-size: 12px;
        background-color: #acc8cc;
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #729ea5;
        text-align: left;
    }

    .tftable tr {
        background-color: #ffffff;
    }

    .tftable td {
        font-size: 12px;
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #729ea5;
    }

    .tftable tr:hover {
        background-color: #acc8cc;
    }
</style>
<div class='w3-container w3-content w3-center w3-padding-64' style='max-width:800px' id='band'>
    <table class="tftable" border="1">
        <tr>
            <th>Producto</th>
            <th>Seccion</th>
            <th>Titulo</th>
            <th>Acciones</th>
        </tr>
        {{#articulos}}
            <tr>
                <td>{{producto}}</td>
                <td>{{seccion}}</td>
                <td>{{titulo}}</td>
                <td>
                    <form method="post" action="/articulo/leer">
                        <input id="id" name="id" type="hidden" value="{{id}}">
                        <button type="submit" class="btn-secondary">Leer</button>
                    </form>
                </td>
            </tr>
        {{/articulos}}
    </table>
</div>


