<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="../public/vistaArticulo.css"/>
    <title>Home</title>
</head>
<body>
    {{> header}}
<div class= "noticiacompleta">
      <div class="titulo">  {{titulo}}</div><br>
    <div class="subtitulo">{{subtitulo}}</div><br>
    <div class="cuerpo">{{cuerpo}}</div>
    <img class="img-fluid" alt="100%x280" src="data:image/jpg;base64,{{imagen}}">
</div>
</body>

{{> footer}}
</html>

