<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
      <title>Validación correcta</title>
  </head>
  <body>
  {{> header}}
  <div class='w3-container w3-content w3-center w3-padding-64' style='max-width:800px; margin-top:3rem' id='band'>
      <h1 class='w3-wide'>Validación Satisfactoria!</h1>
      <h4>Pudimos validar tus datos y ya tienes acceso al sitio. Podés comenzar a utilizar Infonet logueandote desde la barra de navegacion o haciendo  <a class="btn btn-primary mt-2" href="/login">Click aqui</a></h4>
  </div>
  </body>
  {{> footer}}
</html>

