{{#.}}
    <form method="post" action="/secciones">
        <input id="edicion" name="edicion" type="hidden" value="{{edicion}}">
        <input id="producto" name="producto" type="hidden" value="{{producto}}">
        <button type="submit">{{edicion}}</button>
    </form>

{{/.}}