<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Home Escritor</title>
  </head>
  <body>
  {{> header}}
  <div class='w3-container w3-content w3-center w3-padding-64' style='max-width:800px' id='band'>
    <h2 class="fw-bold text-center py-5">Crear Nota</h2>
    <form method="post" action="/articulo/crear">
                        <div class="mb-4">
            <label for="titulo" class="form-label">Titulo</label>
            <input type="text" class="form-control" name="titulo">
        </div>
        <div class="mb-4">
            <label for="subtitulo" class="form-label">SubTitulo</label>
            <input type="text" class="form-control" name="subtitulo">
        </div>
        <div class="mb-4">
          <label for="fecha" class="form-label">Fecha de la noticia</label>
          <input type="date"class="form-control" name="fecha">
      </div>
      <div class="mb-4">
        <label for="fecha" class="form-label">Empresa a publicar</label>
        <input class="form-control" list="empresa" name="empresa" id="empresa">
        <datalist id="empresa">
          <option value="Clarin">
          <option value="Nacion">
          <option value="Ole">
        </datalist>
    </div>
      
      <div class="mb-4">
        <label for="cuerpo" class="form-label">Cuerpo de la noticia</label>
        <textarea name="cuerpo"class="form-control" placeholder="Cuerpo"></textarea>
    </div>
      
        <div class="d-grid">
            <button type="submit" class="btn-secondary">Crear Nota</button>
        </div>
        
    </form>

  </div>
  </body>
  {{> footer}}
</html>

