<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
  </head>
  <body>
  {{^usuario}}
      {{> header}}
  {{/usuario}}
  {{#usuario}}
      {{> header}}
      {{#esAdmin}}
          {{> admin}}
      {{/esAdmin}}
      {{#esEditor}}
          {{> editor}}
      {{/esEditor}}
      {{#esEscritor}}
          {{> escritor}}
      {{/esEscritor}}
      {{#esLector}}
          {{> lector}}
      {{/esLector}}
  {{/usuario}}
  </body>

  {{> footer}}
</html>

