<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Infonet - Tu canal de noticias</title>
</head>
<style>
    .card {
        transition: transform .2s;
    }

    .card:hover {
        transform: scale(1.03)
    }

    .btn-link {
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
        color: #0000EE;
        padding: 0;
        text-decoration: underline;
        font-family: inherit;
        font-size: inherit;
    }
</style>
<body>

{{^usuario}}
    {{> header}}
{{/usuario}}
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-3">Mis notas</h3>
            </div>
            <div class="col-12">
                <div class="row">
                    {{#.}}
                        <div class="col-md-4 mb-3">
                            <form action="/articulo/leer" method="post">
                                <button type="submit" name="id" value="{{id}}" class="btn-link"
                                        style="color: black; text-decoration: none">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="data:image/jpg;base64,{{imagen}}">
                                        <div class="card-body">
                                            <h4 class="card-title">{{titulo}}</h4>
                                            <p class="card-text">{{subtitulo}}</p>

                                        </div>
                                    </div>

                                </button>
                            </form>

                                <div class="pt-1" style="margin-top: -12px;">
                                    <form method="post" action="/articulo/eliminar" style="text-align: right;">
                                        <input id="id" name="id" type="hidden" value="{{id}}">
                                        <button type="submit" class="btn-danger" >Eliminar</button>
                                    </form>
                                </div>

                        </div>
                    {{/.}}
                </div>
            </div>
        </div>
    </div>
</section>
<div class="col-12" style="display: flex; justify-content: center">
<a href="/" class="btn btn-danger" style="text-align: center">Volver</a>
</div>
</body>

{{> footer}}
</html>

