<style>
    .card {
        transition: transform .2s;
    }

    .card:hover {
        transform: scale(1.03)
    }

    section {
        margin-top: 2rem;
    }
</style>
{{^usuario}}
    {{> header}}
{{/usuario}}
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-3">Secciones</h3>
            </div>
            <div class="col-12">
                <div class="row">
                     {{#.}}
                            <form method="post" action="/articulo/vista">
                                <input id="edicion" name="edicion" type="hidden" value="{{id}}">
                                 <input id="edicion" name="edicion" type="hidden" value="{{edicion}}">
                                 <input id="id" name="id" type="hidden" value="{{id}}">
                                <input id="producto" name="producto" type="hidden" value="{{producto}}">
                                <button type="submit" class="btn btn-secondary">{{nombre}}</button>
                            </form>
                    {{/.}}
                </div>
            </div>
        </div>
    </div>
</section>
<div class="col-12" style="display: flex; justify-content: center; display: flex;justify-content: center;margin-top: 350px">
    <a href="/" class="btn btn-danger" style="text-align: center">Volver</a>
</div>


